# Core LangChain packages
langchain==1.1.3
langchain-community==0.4.1
langchain-core==1.1.2

## LangGraph packages
langgraph==1.0.4
langgraph_supervisor==0.0.31

# Ollama integration (official client + LangChain interface)
ollama==0.6.1
langchain-ollama==1.0.0
langchain-openai==1.1.1
langchain-experimental==0.4.0


## Utility tools
dotenv==0.9.9


## Agent 1 specific packages
foyer==0.7.6
simtk==0.1.0
lark==1.3.1